<!-- Modal -->
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Bijna klaar!</h4>
      </div>
      <div class="modal-body">
        <p class="lead">
          <strong>1. Klik op de knop 'Downloaden'</strong><br/>
          <strong>2. Stuur het document per mail naar de Europese Commissie op het adres</strong>
        </p>

        <div class="center-block text-center">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <input type="text" class="form-control" value="markt-copyright-consultation@ec.europa.eu"/>
            </div>
          </div>
        </div>

        <hr/>

        <p>
          De <a href="http://ec.europa.eu/internal_market/consultations/2013/copyright-rules/docs/privacy-statement_en.pdf">privacyverklaring van de Europese Commissie</a> is hierop van toepassing.
        </p>

        <p>Bedankt om de auteursrechtenwetgeving te helpen verbeteren!</p>

      </div>
      <div class="modal-footer">
        <a id="download" href="" class="pull-right btn btn-primary disabled">Downloaden</a>
        <div class="pull-left" id="download-preparing">Gelieve even te wachten terwijl we uw download voorbereiden...</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->